{{> header}}
{{> notification}}
<section id="viewCatalog" class="background-img">
	<div class="added-destinations">
		{{#if user}}
		{{#each article}}
		{{> article}}
		{{/each}}
		{{else}}
	</div>
	<div class="guest">
		No destinations possible! Please sign in...
	</div>
</section>
{{/if}}
{{> footer}}